.toast {
    position: fixed;
    top: 20px;
    right: 20px;

    padding: 15px 20px;

    background: #222;
    color: white;

    border-radius: 10px;

    font-size: 16px;

    animation: slideIn 0.3s ease, fadeOut 0.3s ease 1.7s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}